<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
       <div class="card">
          <h5 class="card-header">Book View</h5>
            <div class="card-body">
                <h5 class="card-title">Select books based on categories</h5>
                <a href="/Books/Index" class="btn btn-primary">Go to View</a>
            </div>
        </div>
    </div>

    </br>

    <div class="container">
       <div class="card">
          <h5 class="card-header">Stack Over Flow</h5>
            <div class="card-body">
                <h5 class="card-title">Display last questions in Stack Over Flow</h5>
                <a href="/Questions/Index" class="btn btn-primary">Go to View</a>
            </div>
        </div>
    </div>
    
    </br>

    <div class="container">
       <div class="card">
          <h5 class="card-header">Web API</h5>
            <div class="card-body">
                <h5 class="card-title">Sample URLs of Web API for accessing Catebories & Books</h5>
                <p class="card-text"><b>To get Categories: </b><a href="http://localhost:5293/api/BooksWebAPI">http://localhost:5293/api/BooksWebAPI</a></p>
                <p class="card-text"><b>To get Categories: </b><a href="http://localhost:5293/api/BooksWebAPI/Classic">http://localhost:5293/api/BooksWebAPI/Classic</a></p>
            </div>
        </div>
    </div>
</body>

</html>